<div class = "form-container">
    <h1 class = " center">Login Here</h1>
    <form [formGroup]="loginForm">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName = "email"/>
            <mat-error *ngIf = "email?.errors?.['required']">
                Email- ID is required here
            </mat-error>
            <mat-error *ngIf = "email?.errors?.['email']">
                Enter the required format
            </mat-error>
            <mat-error *ngIf = "email?.errors?.['pattern']">
                Enter the required format
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName = "password" type = "password"/>
            <mat-error *ngIf = "password?.errors?.['required']">
                Password is required here
            </mat-error>
            <mat-error *ngIf = "password?.errors?.['pattern']">
                Enter correct pattern
            </mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button color="default" type = "submit" (click)="onSubmit()"> Login </button>
        </div>
        
    </form>
</div>


